events {}
http {
    server {
        location / {
            if ($arg_auth = "${AUTH}") {
                return 200;
            } 
            return 401;
        }
    }
}
rtmp {
    server {
        listen 1935;
        notify_method get;
        on_connect http://127.0.0.1/;
        application stream {
            live on;
            record off;
        }
    }
}