name: publish

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 1 * *"

jobs:
    build-and-push-image:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to ghcr.io
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: linux/amd64,linux/arm64
                  push: true
                  tags: ghcr.io/${{ github.repository }}:latest

            - name: Get Repository Name
              run: echo "REPOSITORY_NAME=$(basename ${{ github.repository }})" >> $GITHUB_ENV

            - name: Delete Package Versions
              uses: actions/delete-package-versions@v5.0.0
              with:
                  package-name: ${{ env.REPOSITORY_NAME }}
                  package-type: container
                  delete-only-untagged-versions: true
